<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dojo Secrets</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'log_reg/css/style.css' %}">
    </head>
    <body>
        <a href='/logout'>Logout</a>
        {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}
        <h2>Hello, {{ request.session.name }}!</h2>
        <form action='/post' method='post'>
            {% csrf_token %}
            <textarea name='secret'></textarea>
            <input type='submit' value='Post'>
        </form>
        <a href='/popular'>Most Popular Secrets</a>        
        <h3>Recent Secrets</h3>         
        {% for secret in secret %}
        <ul>
            <ol>{{ secret.secret }}</ol>
            <ol>({{ secret.created_at|timesince }} ago)</ol>
            <ol>{{ secret.num_likes }} likes</ol>
            {% if current_user not in secret.like.all %}                            
                <form action='/like' method='post'>
                    {% csrf_token %}
                    <input type='hidden' name='sid' value='{{secret.id}}'>
                    <ol><input type='submit' value='Like'></ol>
                </form>                          
            {% else %}  
                    <ol>liked!</ol>
            {% endif %}      
            {% if secret.user.id == request.session.id %}
                <form action='/delete' method='post'>
                    {% csrf_token %}
                    <input type='hidden' name='sid' value='{{secret.id}}'>
                    <ol><input type='submit' value='Delete'></ol>
                </form>
            {% endif %}
        </ul>
        {% endfor %}
        <!-- <a href='/deletea'>delete all secrets and users</a>          -->
    </body>
</html>